:host {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Mengarahkan semua anak melebarkan diri mengikut lebar :host */
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Memastikan semua elemen anak mengambil lebar 100% dan mengambil kira padding/margin */
:host > * {
  width: 100%;
  box-sizing: border-box;
}